DynamicWeb/src/main/webapp/wsdl/HttpServlet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://http.servlet.javax" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://http.servlet.javax" xmlns:intf="http://http.servlet.javax" xmlns:tns1="http://servlet.javax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://http.servlet.javax" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servlet.javax"/>
   <element name="service">
    <complexType>
     <sequence>
      <element name="req" type="xsd:anyType"/>
      <element name="res" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="serviceResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="serviceRequest">

      <wsdl:part element="impl:service" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="serviceResponse">

      <wsdl:part element="impl:serviceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HttpServlet">

      <wsdl:operation name="service">

         <wsdl:input message="impl:serviceRequest" name="serviceRequest">

       </wsdl:input>

         <wsdl:output message="impl:serviceResponse" name="serviceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HttpServletSoapBinding" type="impl:HttpServlet">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="service">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="serviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="serviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HttpServletService">

      <wsdl:port binding="impl:HttpServletSoapBinding" name="HttpServlet">

         <wsdlsoap:address location="http://localhost:8080/DynamicWeb/services/HttpServlet"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
